quote {
  padding: 8px;
  border-left: 3px solid black;
  width: 100%;
  font-size: 24px;
  font-style: italic;
}

.ember-view > a,
.ember-view > abbr,
.ember-view > acronym,
.ember-view > address,
.ember-view > applet,
.ember-view > article,
.ember-view > aside,
.ember-view > audio,
.ember-view > big,
.ember-view > blockquote,
.ember-view > body,
.ember-view > canvas,
.ember-view > caption,
.ember-view > cite,
.ember-view > code,
.ember-view > dd,
.ember-view > del,
.ember-view > details,
.ember-view > dfn,
.ember-view > div,
.ember-view > dl,
.ember-view > dt,
.ember-view > em,
.ember-view > embed,
.ember-view > fieldset,
.ember-view > figcaption,
.ember-view > figure,
.ember-view > footer,
.ember-view > form,
.ember-view > h1,
.ember-view > h2,
.ember-view > h3,
.ember-view > h4,
.ember-view > h5,
.ember-view > h6,
.ember-view > header,
.ember-view > hgroup,
.ember-view > html,
.ember-view > iframe,
.ember-view > img,
.ember-view > ins,
.ember-view > kbd,
.ember-view > label,
.ember-view > legend,
.ember-view > li,
.ember-view > mark,
.ember-view > menu,
.ember-view > nav,
.ember-view > object,
.ember-view > ol,
.ember-view > output,
.ember-view > p,
.ember-view > pre,
.ember-view > q,
.ember-view > ruby,
.ember-view > s,
.ember-view > samp,
.ember-view > section,
.ember-view > small,
.ember-view > span,
.ember-view > strike,
.ember-view > strong,
.ember-view > sub,
.ember-view > summary,
.ember-view > sup,
.ember-view > table,
.ember-view > tbody,
.ember-view > td,
.ember-view > tfoot,
.ember-view > th,
.ember-view > thead,
.ember-view > time,
.ember-view > tr,
.ember-view > tt,
.ember-view > ul,
.ember-view > var,
video {
  font-size: 95%;
}
